<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bootstap-project</title>

		<link rel="stylesheet" href="./Assets/Css/style.css" />
	</head>

	<body>
		<section class="title">
			<div>
				<h1>Welcome from Bootstap-project !</h1>
			</div>
		</section>

		<section class="count">
			<div class="count-div">
				<button id="minusButton">-</button>
				<span id="counterValue">0</span>
				<button id="plusButton">+</button>
			</div>
		</section>
	</body>

	<script src="./Assets/Javascript/index.js"></script>
</html>
